{
  "extends": "stylelint-config-standard",
  "plugins": ["stylelint-order", "stylelint-scss"],
  "rules": {
    "indentation": 2,
    "comment-empty-line-before": null,
    "color-hex-length": "short",
    "max-nesting-depth": 4,
    "no-eol-whitespace": [
      true,
      {
        "ignore": ["empty-lines"]
      }
    ],
    "order/properties-alphabetical-order": true,
    "selector-list-comma-newline-after": "always-multi-line",
    "string-quotes": "single",
    "shorthand-property-no-redundant-values": null,
    "at-rule-no-unknown": null,
    "no-descending-specificity": null,
    "value-list-comma-newline-after": "always-multi-line",
    "max-line-length": 100
  }
}
