@import '~sass/_variables';

#todo-page {
  display: grid;
  grid-template-columns: 5px auto 5px;
  grid-template-rows: 200px 1fr;

  @media screen and (min-width: $width-desktop) {
    grid-template-columns: 25px auto 25px;
    grid-template-rows: 200px 1fr;
  }

  .app-logo {
    align-self: center;
    grid-column: 2 /2;
    grid-row: 1 / 1;
    height: 300px;
    justify-self: center;
    width: 300px;
  }

  .todo-list {
    grid-column: 2 / 2;
    grid-row: 2/2;
    margin: 25px 0;
    padding: 11px 5px;
  }
}

