@import '../sass/_variables.scss';

.todo-list {
  background-color: #fff;
  border-radius: 8px;
  min-height: 400px;
  padding: 5px;

  @media screen and (min-width: $width-desktop) {
    & {
      padding: 40px 30px 60px 30px !important;
    }
  }

  .todo-list-items {
    display: grid;
    grid-auto-rows: min-content;
    grid-row-gap: 10px;
    grid-template-columns: 0 1fr 0;

    .todo {
      grid-column: 2 / 2;
    }
  }

  .add-todo-container {
    align-self: flex-start;
    display: flex;
    font-size: 28px;
    margin: 25px 15px;

    .add-todo-button {
      color: #c7c7c7;
      text-decoration: none;

      .add-todo-icon {
        content: '+';
      }

      &:hover {
        color: #808080;
      }
    }
  }

  .todo-list-animation-item {
    display: inline-block;
    margin-right: 10px;
  }

  .todo-list-animation-enter-active,
  .todo-list-animation-leave-active {
    transition: all 0.6s;
  }

  .todo-list-animation-enter,
  .todo-list-animation-leave-to {
    opacity: 0;
    transform: translateX(30px);
  }
}
